<template>
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <nuxt-link to="/">Главная</nuxt-link>
                </li>
                <li>
                    <nuxt-link :to="`/products/${productCategory.url}`">{{ productCategory.name }}</nuxt-link>
                </li>
                <li class="is-active">
                    <a aria-current="page">{{ product.name }}</a>
                </li>
            </ul>
        </nav>
        <h1 class="title is-2">
            Редактирование продукта
        </h1>
        <div class="preview my-5">
            <figure class="image is-128x128 preview__item" v-for="image of images">
                <span class="delete preview__delete" @click="deleteImage(image)"></span>
                <img :src="getImagePath(image.path)" class="preview__image" alt="">
            </figure>
            <div class="field" v-if="images.length < 2">
                <div class="file is-boxed">
                    <label class="file-label">
                        <input class="file-input" type="file" @change="loadFile">
                        <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-cloud-upload-alt"></i>
                        </span>
                        <span class="file-label">
                          Загрузить фото
                        </span>
                      </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="field">
                <label class="label">Название</label>
                <div class="control">
                    <input class="input" type="text" v-model="model.name">
                </div>
            </div>
            <div class="field">
                <label class="label">Категория</label>
                <div class="control">
                    <div class="select">
                        <select v-model="model.categoryId">
                            <option v-for="category of categories" :value="category.id">{{ category.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Особенность</label>
                <div class="control">
                    <div class="select">
                        <select v-model="model.feature">
                            <option v-for="feature of features" :value="feature.value">{{ feature.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Ингредиенты</label>
                <div class="control">
                    <input class="input" type="text" v-model="model.ingredients">
                </div>
            </div>
            <label class="label">Опции:</label>
            <div class="is-flex" v-for="option of options">
                <span class="tag is-warning is-large mr-2">{{ option.name }}</span>
                <div class="field has-addons mr-2">
                    <p class="control">
                        <input class="input" type="text" v-model="option.crmId" placeholder="CRM ID">
                    </p>
                </div>
                <div class="field has-addons mr-2">
                    <p class="control">
                        <input class="input" type="text" v-model="option.price" placeholder="Цена">
                    </p>
                    <p class="control">
                        <a class="button is-static">
                            грн
                        </a>
                    </p>
                </div>
                <div class="field has-addons">
                    <p class="control">
                        <input class="input" type="text" v-model="option.weight" placeholder="Вес">
                    </p>
                    <p class="control">
                        <a class="button is-static">
                            г
                        </a>
                    </p>
                </div>
            </div>
            <hr>
            <div class="buttons">
                <button class="button is-large is-success is-pulled-left" @click="updateProduct">Сохранить</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            search: '',
            images: [],
            features: [
                {
                    name: 'Нет',
                    value: '',
                },
                {
                    name: 'Вегетерианское',
                    value: 'vegetarian',
                },
                {
                    name: 'Острое',
                    value: 'hot',
                }
            ],
            model: {
                price: null,
                ingredients: null,
                weight: null,
                feature: null
            },
            options: {}
        }
    },
    mounted() {
        this.images = [...this.product.images];
        this.model = {
            id: this.product.id,
            name: this.product.name,
            categoryId: this.product.categoryId,
            feature: this.product.feature,
            ingredients: this.product.ingredients,
        }
        this.options = {...this.product.options}
    },
    methods: {
        updateProduct() {
            this.$axios.$put(`/products/update/${this.model.id}`, this.model).then((response) => {
                console.log(response)
            })
        },
        deleteOption() {
            this.$axios.$delete(`/options/delete/${this.deleteId}`).then(response => {
            })
        },

        getImagePath(path) {
            return `${process.env.BASE_URL}/images/${path}`;
        },

        loadFile(event) {
            let input = event.target;

            let formData = new FormData();
            formData.append('id', this.product.id)
            formData.append('image', input.files[0]);

            this.$axios.$post('/images/upload', formData).then((response) => {
                this.images.push(response);
            })

        },

        deleteImage(image) {
            this.$axios.$delete(`/images/delete/${image.id}`).then(response => {
                this.images = this.images.filter(item => item.id !== image.id);
            })
        }
    },
    computed: {

        product() {
            return this.$store.getters.products.find(product => product.id === parseInt(this.$route.params.id))
        },

        productCategory() {
            return this.$store.getters.categories.find((category) => category.id === this.product.categoryId);
        },

        categories() {
            return this.$store.getters.categories;
        }
    }
}
</script>

<style scoped>
.preview {
    display: flex;
}

.preview__item {
    display: flex;
    align-items: center;
    position: relative;
    outline: 2px solid #eee;
    margin-right: 20px;
}

.preview__delete {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
}

form {
    /*width: 400px;*/
}


.upload {
    display: flex;
    align-items: stretch;
}

.file.is-boxed .file-cta {
    justify-content: center;
    height: 128px;
}
</style>
