<template>
    <div class="container">
        <h1 class="title is-2">
            {{ category.name }}
            <button class="button is-pulled-right is-link" @click="addProduct">Добавить</button>
        </h1>
        <p class="control has-icons-left mb-4">
            <input class="input" type="text" placeholder="Название товара" v-model="search">
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </p>
        <div class="table-container">
            <table class="table is-hoverable is-striped is-fullwidth">
                <thead>
                <tr>
                    <th>Название</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="product of products">
                    <td>{{ product.name }}</td>
                    <td>
                        <div class="buttons is-pulled-right">
                            <button class="button is-small" @click="editProduct(product)">
                                Редактировать
                            </button>
                            <button class="button is-small is-danger" @click="toggleConfirm(product.id)">Удалить
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal" :class="{ 'is-active' : showModal }">
            <div class="modal-background" @click="toggleModal"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{ modal.title }}</p>
                    <button class="delete" aria-label="close" @click="toggleModal"></button>
                </header>
                <section class="modal-card-body">
                    <div class="tabs is-boxed">
                        <ul>
                            <li v-for="tab of tabs" :class=" { 'is-active' : activeTab === tab.id }">
                                <a @click="selectTab(tab.id)">{{ tab.name }}</a>
                            </li>
                        </ul>
                    </div>
                    <div v-show="activeTab === 1">
                        <div class="preview my-5">
                            <figure class="image is-128x128 preview__item" v-for="image of model.images">
                                <span class="delete preview__delete" @click="deleteImage(image)"></span>
                                <img :src="getImagePath(image)" class="preview__image" alt="">
                            </figure>
                            <div class="field" v-if="model.images.length < 2">
                                <div class="file is-boxed">
                                    <label class="file-label">
                                        <input class="file-input" type="file" @change="loadFile">
                                        <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-cloud-upload-alt"></i>
                        </span>
                        <span class="file-label">
                          Загрузить фото
                        </span>
                          </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form">
                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox" v-model="model.isActive">
                                    Active
                                </label>
                            </div>
                            <div class="field">
                                <label class="label">Название</label>
                                <div class="control">
                                    <input class="input" type="text" v-model="model.name">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">URL</label>
                                <div class="control">
                                    <input class="input" type="text" v-model="model.url">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Категория</label>
                                <div class="control">
                                    <div class="select">
                                        <select v-model="model.categoryId" disabled>
                                            <option
                                                v-for="category of categories"
                                                :value="category.id"
                                            >
                                                {{ category.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Особенность</label>
                                <div class="control">
                                    <div class="select">
                                        <select v-model="model.feature">
                                            <option v-for="feature of features" :value="feature.value">
                                                {{ feature.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Ингредиенты</label>
                                <div class="control">
                                    <input class="input" type="text" v-model="model.ingredients">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-show="activeTab === 2">
                        <div v-for="option of sortedOptions">
                            <div class="is-flex">
                            <span class="tag is-large mr-2" :class="{ 'is-warning' : option['isActive'] }">
                                <input type="checkbox" v-model="option['isActive']">
                                {{ (option.name) ? option.name : option.data.name }}
                            </span>
                                <div class="field has-addons mr-2">
                                    <p class="control">
                                        <input class="input" type="text" v-model="option.price" placeholder="Цена">
                                    </p>
                                    <p class="control">
                                        <a class="button is-static">
                                            грн
                                        </a>
                                    </p>
                                </div>
                                <div class="field has-addons">
                                    <p class="control">
                                        <input class="input" type="text" v-model="option.weight" placeholder="Вес">
                                    </p>
                                    <p class="control">
                                        <a class="button is-static">
                                            г
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-static">
                                        CRM ID
                                    </a>
                                </p>
                                <p class="control" style="width: 100%">
                                    <input class="input" type="text" v-model="option.crmId" placeholder="CRM ID">
                                </p>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div v-show="activeTab === 3">
                        <div class="field">
                            <div class="select"
                                 style="width: 100%; margin-bottom: 15px"
                                 v-for="index of 4"
                            >
                                <select style="width: 100%" :name="model.similar" v-model="model.similar[index - 1]">
                                    <option value=""></option>
                                    <option
                                        :value="product.id"
                                        v-for="product of allProducts"
                                        :selected="+model.similar[index - 1] === product.id">
                                        {{ product.name }} ({{ product.category.name }})
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div v-show="activeTab === 4">
                        <div class="field">
                            <label class="label">Title</label>
                            <div class="control">
                                <input class="input" type="text" v-model="model.meta.title">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Description</label>
                            <div class="control">
                                <input class="input" type="text" v-model="model.meta.description">
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" @click="updateProduct" v-if="this.model.id">
                        {{ modal.button }}
                    </button>
                    <button class="button is-success" @click="createProduct" v-else>{{ modal.button }}</button>
                    <button class="button" @click="toggleModal">Отменить</button>
                </footer>
            </div>
        </div>
        <div class="modal" :class="{ 'is-active' : showConfirm }">
            <div class="modal-background" @click="toggleConfirm()"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Удалить опцию?</p>
                    <button class="delete" aria-label="close" @click="toggleConfirm()"></button>
                </header>
                <footer class="modal-card-foot">
                    <div class="buttons">
                        <button class="button is-danger" @click="deleteProduct">Удалить</button>
                        <button class="button" @click="toggleConfirm()">Отменить</button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            showModal: false,
            showConfirm: false,
            deleteId: 0,
            activeCategory: '',
            modal: {
                title: '',
                button: ''
            },
            search: '',
            features: [
                {
                    name: 'Нет',
                    value: '',
                },
                {
                    name: 'Вегетерианское',
                    value: 'vegan',
                },
                {
                    name: 'Острое',
                    value: 'hot',
                }
            ],
            activeTab: 1,
            tabs: [
                {
                    id: 1,
                    name: 'Основное'
                },
                {
                    id: 2,
                    name: 'Опции'
                },
                {
                    id: 3,
                    name: 'C этим заказывают'
                },
                {
                    id: 4,
                    name: 'SEO'
                }
            ],
            options: [],
            model: {
                categoryId: 0,
                price: null,
                ingredients: null,
                weight: null,
                feature: null,
                images: [],
                options: [],
                meta: {
                    title: null,
                    description: null
                },
                similar: [null, null, null, null]
            }
        }
    },
    async mounted() {
        this.options = await this.$axios.$get(`/options/category/${this.category.id}`);
    },
    methods: {
        selectTab(id) {
            this.activeTab = id;
        },
        toggleModal() {
            this.showModal = !this.showModal;
        },
        toggleConfirm(id = 0) {
            this.deleteId = id;
            this.showConfirm = !this.showConfirm;
        },
        editProduct(product) {
            this.toggleModal();
            this.modal.title = 'Редактирование продукта';
            this.modal.button = 'Сохранить изменения';
            this.model = { ...product };
            if (!this.model.meta) this.model.meta = {
                title: null,
                description: null
            }
            this.checkOptions();
        },
        addProduct() {
            this.toggleModal();
            this.modal.title = 'Добавление продукта';
            this.modal.button = 'Добавить';
            this.resetData();
            this.fetchOptions();
        },
        createProduct() {
            this.$axios.$post('/products', this.model).then(() => {
                this.moveImages();
            });
        },
        updateProduct() {
            this.$axios.$put(`/products/update/${this.model.id}`, this.model).then((response) => {
                this.moveImages();
            })
        },
        deleteProduct() {
            this.$axios.$delete(`/products/delete/${this.deleteId}`).then(() => {
                this.$store.dispatch('fetchProducts');
                this.toggleConfirm();
            })
        },
        moveImages() {
            this.$axios.$post('/images/move', this.model.images).then(() => {
                this.$store.dispatch('fetchProducts');
                this.toggleModal();
            });
        },
        getImagePath(image) {
            let folder = (image.id) ? 'products' : 'temp';
            return `${process.env.BASE_URL}/images/${folder}/${image.path}`;
        },

        resetData() {
            this.model = {
                categoryId: this.category.id,
                price: null,
                ingredients: null,
                weight: null,
                feature: null,
                images: [],
                options: [],
                meta: {
                    title: '',
                    description: ''
                },
                similar: []
            }
        },

        loadFile(event) {
            let input = event.target;

            let formData = new FormData();
            formData.append('image', input.files[0]);

            this.$axios.$post('/images/upload', formData).then((path) => {
                this.model.images.push({ path });
            })

        },

        async fetchOptions() {
            this.options.forEach(option => {
                this.model.options.push({
                    optionId: option.id,
                    name: option.name,
                    order: option.order,
                })
            });
        },

        deleteImage(image) {
            if (image.id) {
                this.$axios.$delete(`/images/delete/${image.id}`).then(response => {
                    this.model.images = this.model.images.filter(item => item.path !== image.path);
                })
            } else this.model.images = this.model.images.filter(item => item.path !== image.path);
        },

        checkOptions() {
            let newOptions = [];
            this.options.forEach(option => {
                let find = this.model.options.find(item => item.data.id === option.id);
                if (find) newOptions.push(find)
                else {
                    newOptions.push({
                        optionId: option.id,
                        name: option.name
                    });
                }
            });
            this.model.options = [...newOptions];
        }
    },
    computed: {

        sortedOptions() {
            return this.model.options.sort((a, b) => a.data?.type - b.data?.type) || []
        },

        products() {
            return this.$store.getters.products.filter(product => {
                return product.name.toLowerCase().includes(this.search.toLowerCase())
            }).filter(({ categoryId }) => categoryId === this.category.id)
        },

        allProducts() {
            return this.$store.getters.products
        },

        category() {
            return this.$store.getters.categories.find((category) => category.url === this.$route.params.category);
        },

        categories() {
            return this.$store.getters.categories;
        }

    }
}
</script>

<style>
.preview {
    display: flex;
}

.preview__item {
    display: flex;
    align-items: center;
    position: relative;
    outline: 2px solid #eee;
    margin-right: 20px;
}

.preview__delete {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
}

.file.is-boxed .file-cta {
    justify-content: center;
    height: 128px;
}

.tag {
    position: relative;
}

.tag input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
</style>
