<template>
    <div class="container">
        <h1 class="title is-2">
            Категории
            <button class="button is-pulled-right is-link" @click="addCategory">Добавить</button>
        </h1>
        <div class="table-container">
            <table class="table is-hoverable is-striped is-fullwidth">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>URL</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="category of categories">
                    <td>{{ category.name }}</td>
                    <td>{{ category.url }}</td>
                    <td>
                        <div class="buttons  is-pulled-right">
                            <button class="button is-small" @click="editCategory(category)">
                                Редактировать
                            </button>
                            <button class="button is-small is-danger" @click="toggleConfirm(category.id)">Удалить
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal" :class="{ 'is-active' : showModal }">
            <div class="modal-background" @click="toggleModal"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{ modal.title }}</p>
                    <button class="delete" aria-label="close" @click="toggleModal"></button>
                </header>
                <section class="modal-card-body">
                    <div class="tabs is-boxed">
                        <ul>
                            <li v-for="tab of tabs" :class=" { 'is-active' : activeTab === tab.id }">
                                <a @click="selectTab(tab.id)">{{ tab.name }}</a>
                            </li>
                        </ul>
                    </div>
                    <div v-show="activeTab === 1">
                        <div class="field">
                            <label class="label">Название</label>
                            <div class="control">
                                <input class="input" type="text" v-model="model.name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">URL</label>
                            <div class="control">
                                <input class="input" type="text" v-model="model.url">
                            </div>
                        </div>
                    </div>
                    <div v-show="activeTab === 2">
                        <div class="field">
                            <label class="label">Title</label>
                            <div class="control">
                                <textarea class="textarea">{{ model.meta.title }}</textarea>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Description</label>
                            <div class="control">
                                <textarea class="textarea">{{ model.meta.description }}</textarea>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">
                                SEO Text
                                <div class="control" style="display: inline-flex; margin-left: 10px">
                                    <label class="radio">
                                        <input type="radio" name="visual" :value="true" v-model="visual">
                                        Visual Editor
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="visual" :value="false" v-model="visual">
                                        Source Code
                                    </label>
                                </div>
                            </label>
                            <div class="control">
                                <quill-editor
                                    ref="editor"
                                    v-model="model.text"
                                    v-if="visual"
                                />
                                <textarea class="textarea" v-else rows="30">{{ model.text }}</textarea>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" @click="updateCategory" v-if="this.model.id">{{
                            modal.button
                        }}
                    </button>
                    <button class="button is-success" @click="createCategory" v-else>{{ modal.button }}</button>
                    <button class="button" @click="toggleModal">Отменить</button>
                </footer>
            </div>
        </div>
        <div class="modal" :class="{ 'is-active' : showConfirm }">
            <div class="modal-background" @click="toggleConfirm()"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Удалить опцию?</p>
                    <button class="delete" aria-label="close" @click="toggleConfirm()"></button>
                </header>
                <footer class="modal-card-foot">
                    <div class="buttons">
                        <button class="button is-danger" @click="deleteCategory">Удалить</button>
                        <button class="button" @click="toggleConfirm()">Отменить</button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            showModal: false,
            showConfirm: false,
            deleteId: 0,
            activeTab: 1,
            tabs: [
                {
                    id: 1,
                    name: 'Основное'
                },
                {
                    id: 2,
                    name: 'SEO'
                }
            ],
            activeCategory: '',
            modal: {
                title: '',
                button: ''
            },
            visual: true,
            model: {
                meta: {
                    title: null,
                    description: null
                }
            }
        }
    },
    computed: {
        categories() {
            return this.$store.getters.categories
        },
    },
    methods: {
        selectTab(id) {
            this.activeTab = id;
        },
        toggleModal() {
            this.showModal = !this.showModal;
        },
        toggleConfirm(id = 0) {
            this.deleteId = id;
            this.showConfirm = !this.showConfirm;
        },
        editCategory(option) {
            this.toggleModal();
            this.modal.title = 'Редактирование категории';
            this.modal.button = 'Сохранить изменения';
            this.model = { ...option };
            if (!this.model.meta) this.model.meta = {
                title: null,
                description: null
            }
        },
        addCategory() {
            this.toggleModal();
            this.modal.title = 'Добавление категории';
            this.modal.button = 'Добавить';
            this.model = {
                meta: {
                    title: null,
                    description: null
                },
            }
        },
        createCategory() {
            this.$axios.$post('/categories', this.model).then(() => {
                this.$store.dispatch('fetchCategories');
                this.toggleModal();
            })
        },
        updateCategory() {
            this.$axios.$put(`/categories/${this.model.id}`, this.model).then(() => {
                this.$store.dispatch('fetchCategories');
                this.toggleModal();
            })
        },
        deleteCategory() {
            this.$axios.$delete(`/categories/${this.deleteId}`).then(() => {
                this.$store.dispatch('fetchCategories');
                this.toggleConfirm();
            })
        }
    }
}
</script>
