<template>
    <div class="container">
        <h1 class="title is-2">
            Опции
            <button class="button is-pulled-right is-link" @click="addOption">Добавить</button>
        </h1>
        <div class="tabs is-boxed">
            <ul>
                <li :class=" { 'is-active' : !activeCategory }">
                    <a @click="selectCategory()">Все</a>
                </li>
                <li v-for="category of categories" :class=" { 'is-active' : activeCategory === category.id }">
                    <a @click="selectCategory(category.id)">{{ category.name }}</a>
                </li>
            </ul>
        </div>
        <div class="table-container">
            <table class="table is-hoverable is-striped is-fullwidth">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Категория</th>
                    <th>Тип</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="option of filteredOptions">
                    <td>{{ option.name }}</td>
                    <td>{{ getCategoryName(option.categoryId) }}</td>
                    <td>{{ typeName(option.type)}}</td>
                    <td>
                        <div class="buttons  is-pulled-right">
                            <button class="button is-small" @click="editOption(option)">
                                Редактировать
                            </button>
                            <button class="button is-small is-danger" @click="toggleConfirm(option.id)">Удалить
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal" :class="{ 'is-active' : showModal }">
            <div class="modal-background" @click="toggleModal"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{ modal.title }}</p>
                    <button class="delete" aria-label="close" @click="toggleModal"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <label class="label">Название</label>
                        <div class="control">
                            <input class="input" type="text" v-model="model.name">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Категория</label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select v-model="model.categoryId">
                                    <option v-for="category of categories" :value="category.id">
                                        {{ category.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Тип</label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select v-model="model.type">
                                    <option value="1">Размер</option>
                                    <option value="2">Топпинг</option>
                                    <option value="3">Комбо</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" @click="updateOption" v-if="this.model.id">{{
                            modal.button
                        }}
                    </button>
                    <button class="button is-success" @click="createOption" v-else>{{ modal.button }}</button>
                    <button class="button" @click="toggleModal">Отменить</button>
                </footer>
            </div>
        </div>
        <div class="modal" :class="{ 'is-active' : showConfirm }">
            <div class="modal-background" @click="toggleConfirm()"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Удалить опцию?</p>
                    <button class="delete" aria-label="close" @click="toggleConfirm()"></button>
                </header>
                <footer class="modal-card-foot">
                    <div class="buttons">
                        <button class="button is-danger" @click="deleteOption">Удалить</button>
                        <button class="button" @click="toggleConfirm()">Отменить</button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            showModal: false,
            showConfirm: false,
            deleteId: 0,
            activeCategory: '',
            categories: [],
            options: [],
            modal: {
                title: '',
                button: ''
            },
            model: {
                name: '',
                categoryId: ''
            }
        }
    },
    async fetch() {
        this.categories = await this.$axios.$get('/categories');
        this.options = await this.$axios.$get('/options');
    },
    computed: {
        filteredOptions() {
            return (this.activeCategory) ? this.options.filter(o => o.categoryId === this.activeCategory) : this.options;
        },
    },
    methods: {
        typeName(type) {
            switch (type) {
                case 1:
                    return 'Размер'
                case 2:
                    return 'Топпинг'
                case 3:
                    return 'Комбо'
            }
        },
        toggleModal() {
            this.showModal = !this.showModal;
        },
        toggleConfirm(id = 0) {
            this.deleteId = id;
            this.showConfirm = !this.showConfirm;
        },
        selectCategory(category) {
            this.activeCategory = category;
        },
        editOption(option) {
            this.toggleModal();
            this.modal.title = 'Редактирование опции';
            this.modal.button = 'Сохранить изменения';
            this.model = option;
        },
        addOption() {
            this.toggleModal();
            this.modal.title = 'Добавление опции';
            this.modal.button = 'Добавить';
            this.model = {}
        },
        getCategoryName(id) {
            let category = this.categories.find(c => c.id === id)
            return category.name
        },
        createOption() {
            this.$axios.$post('/options/create', this.model).then(() => {
                this.$fetch();
                this.toggleModal();
            })
        },
        updateOption() {
            this.$axios.$put(`/options/update/${this.model.id}`, this.model).then(() => {
                this.$fetch();
                this.toggleModal();
            })
        },
        deleteOption() {
            this.$axios.$delete(`/options/delete/${this.deleteId}`).then(response => {
                this.$fetch();
                this.toggleConfirm();
            })
        }
    }
}
</script>
