<template>
    <div>
        <nav class="navbar is-spaced is-light" role="navigation" aria-label="main navigation">


            <div class="navbar-menu" id="navbarBasicExample">
                <div class="navbar-start">

                    <nuxt-link to="/" exact-active-class="is-active" active-class="" class="navbar-item">
                        Заказы ({{ newOrders }})
                    </nuxt-link>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Продукты
                        </a>


                        <div class="navbar-dropdown">
                            <nuxt-link v-for="category of categories" :to="`/products/${category.url}`"
                                       :key="category.url"
                                       class="navbar-item" :prefetch="false">
                                {{ category.name }}
                            </nuxt-link>
                            <hr class="navbar-divider">
                            <nuxt-link to="/products/categories" class="navbar-item">Категории</nuxt-link>
                            <nuxt-link to="/products/options" class="navbar-item">Опции</nuxt-link>
                        </div>
                    </div>

                    <nuxt-link to="/pages" class="navbar-item">
                        Страницы
                    </nuxt-link>

                    <!--                    <nuxt-link to="settings" class="navbar-item">-->
                    <!--                        Настройки-->
                    <!--                    </nuxt-link>-->

                </div>


                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="https://yimyim.com.ua" target="_blank" class="button is-warning">
                                <strong>Перейти на сайт</strong>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </nav>
        <div class="container">
            <section class="section">
                <Nuxt/>
            </section>
        </div>
        <audio src="~/static/order-2.mp3" ref="audio"></audio>
    </div>
</template>

<script>
export default {

    data() {
        return {
            interval: null
        }
    },

    computed: {
        categories() {
            return this.$store.getters.categories
        },
        orders() {
            return this.$store.getters.orders;
        },
        newOrders() {
            return this.orders.filter(order => order.status === 1).length;
        },
    },

    mounted() {
        this.interval = setInterval(async () => {
            let orders = await this.getOrders();
            this.checkNewOrders(orders);
        }, 30 * 1000);
    },
    destroyed() {
        clearInterval(this.interval);
    },

    methods: {

        async getOrders() {
            return this.$axios.$get('/orders/1')
        },

        checkNewOrders(orders) {
            console.log('Check..')
            let oldLength = this.orders.filter(order => order.status === 1).length;
            let newLength = orders.length;
            if (newLength > oldLength) {
                this.$refs.audio.play();
                this.$store.dispatch('fetchOrders');
            }
        },
    },
}
</script>

<style>
@media screen and (min-width: 1025px) {
    .navbar-item.is-hoverable:hover .navbar-dropdown {
        display: block !important;
    }

    .navbar-item.is-hoverable:focus-within .navbar-dropdown {
        display: none;
    }
}
</style>
