<template>
    <div>
<!--        <strong>{{ amountOrders }}</strong>-->
<!--        <hr/>-->
<!--        <div v-for="order of orders.deliveryOrders">-->
<!--            <div v-for="item of order.items">-->
<!--                {{ item.name }} x {{ item.amount }}-->
<!--            </div>-->
<!--            {{ order.sum }}-->
<!--            <hr>-->
<!--        </div>-->
        <p class="control has-icons-left mb-4">
            <input class="input" type="text" placeholder="Название товара" v-model="search">
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </p>
<!--        <pre>{{ payments }}</pre>-->
                        <pre>{{ filteredMenu }}</pre>
        <button class="button" @click="createOrder">Создать заказ</button>
        <!--        <button class="button" @click="checkAddress">Проверить адрес</button>-->
    </div>
</template>

<script>

export default {
    data() {
        return {
            token: null,
            userId: 'yimyim',
            userSecret: 'Yimyim2021',
            organizationId: 'b2320000-3838-06a2-e7c5-08d8be10a4f8',
            url: 'https://card.iiko.co.uk:9900',
            menu: null,
            address: null,
            search: '',
            payments: null,
            phoneNumber: null,
            orders: {
                deliveryOrders: []
            },
        }
    },
    mounted() {
        this.fetchData();

    },
    computed: {

        today() {
            let dt = new Date();
            return  dt.getFullYear() + '-' + (((dt.getMonth() + 1) < 10) ? '0' : '') + (dt.getMonth() + 1) + '-' + ((dt.getDate() < 10) ? '0' : '') + dt.getDate();
        },

        amountOrders() {
            let amount = 0;
            this.orders.deliveryOrders.forEach(order => {
                amount += order.sum;
            })
            return amount;
        },

        filteredMenu() {
            return (this.menu) ? this.menu.products.filter(product => {
                return product.name.toLowerCase().includes(this.search.toLowerCase())
            }).map(product => {
                return {
                    id: product.id,
                    name: product.name
                }
            }) : []
        }
    },
    methods: {
        async fetchData() {
            await this.$axios(`${this.url}/api/0/auth/access_token?user_id=${this.userId}&user_secret=${this.userSecret}`).then((response) => {
                this.token = response.data;
            })
            await this.$axios(`${this.url}/api/0/nomenclature/${this.organizationId}?access_token=${this.token}`).then((response) => {
                this.menu = response.data;
            })
            await this.$axios(`${this.url}/api/0/streets/streets?access_token=${this.token}&organization=${this.organizationId}&city=b87834bc-e7ac-4350-b406-5ecc40f04726`).then((response) => {
                this.phoneNumber = response.data;
            })
            await this.$axios(`${this.url}/api/0/orders/deliveryOrders?access_token=${this.token}&organization=${this.organizationId}&dateFrom=${this.today}&dateTo=${this.today}`).then((response) => {
                this.orders = response.data;
            })
            await this.$axios.get(`${this.url}/api/0/streets/streets?access_token=${this.token}&organization=${this.organizationId}&city=fc77a5d7-a11d-e7b3-016e-593fb89004a2`).then((response) => {
                this.address = response.data;
            })
            await this.$axios.get(`${this.url}/api/0/rmsSettings/getPaymentTypes?access_token=${this.token}&organization=${this.organizationId}`).then((response) => {
                this.payments = response.data;
            })
        },
        checkAddress() {
            this.$axios
                .post(`${this.url}/api/0/orders/checkAddress?&access_token=${this.token}&organizationId=${this.organizationId}`,
                    {
                        "city": "Київ",
                        "street": "Бажана Миколи пр-т",
                        "home": "5"
                    }
                )
                .then(response => {
                    console.log(response);
                })
        },
        createOrder() {
            this.$axios.post(`${this.url}/api/0/orders/checkCreate?&access_token=${this.token}`, {
                organization: this.organizationId,
                customer: {
                    name: 'Тарас',
                    phone: '+38 (063) 741-48-55',
                },
                order: {
                    items: [
                        {
                            "id": "fae10c53-56d7-4ef8-b988-ab4f631b9d63",
                            "amount": 1,
                        },
                        {
                            "id": "160f6c06-e1f9-4e58-b6b9-6b651b71b434",
                            "amount": 2,
                        },
                        {
                            "id": "355461f7-3ad2-45e1-9535-4afa1e6d679d",
                            "amount": 3,
                        }
                    ],
                    "paymentItems": [
                        {
                            "sum": "0.01",
                            "paymentType": {
                                "id": "09322f46-578a-d210-add7-eec222a08871",
                                "code": "CASH",
                                "name": "Наличные",
                                "comment": null,
                            },
                            "isProcessedExternally": false
                        }
                    ],
                    phone: '+38 (063) 741-48-55',
                    isSelfService: false,
                    address: {
                        "city": "",
                        "street": "Леси Украинки",
                        "home": "10",
                        "apartment": "111",
                        "entrance": "2",
                        "floor": "9",
                        "comment": "Оплата с карты"
                    },
                    // address: {
                    //     "city": "Київ",
                    //     "street": "Бажана Миколи пр-т",
                    //     "home": "5"
                    // }
                },
            }).then(response => {
                console.log(response);
            });
        }
    }
}
</script>
