<template>
    <div class="container">
        <h1 class="title is-2">
            Заказы
        </h1>
        <div class="tabs is-boxed">
            <ul>
                <li v-for="status of statusList" :class=" { 'is-active' : activeStatus === status.id }">
                    <a @click="selectStatus(status.id)">{{ status.name }}</a>
                </li>
            </ul>
        </div>
        <div class="table-container">
            <table class="table is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>Список</th>
                    <th>Клиент</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="order of filteredOrders">
                    <td>
                        <table class="table is-striped is-bordered is-fullwidth my-2">
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th>Категория</th>
                                <th>Размер</th>
                                <th>Кол.</th>
                                <th>Доп.</th>
                                <th>Цена</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item of order.list">
                                <td>
                                    {{ getProduct(item).name }}
                                </td>
                                <td>{{ getProduct(item).category }}</td>
                                <td>
                                    {{ getProduct(item).size }}
                                </td>
                                <td>{{ item.qty }}</td>
                                <td>
                                    <div v-for="additional of getProduct(item).additionals">{{ additional.name }}</div>
                                </td>
                                <td>{{ getProduct(item).price }} грн</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    {{ $dayjs(order.created).format('DD.MM.YYYY HH:mm:ss') }}
                                </td>
                                <td colspan="3" align="right">
                                    <span class="has-text-grey">Сумма заказа:</span> {{ amount(order.list) }} грн
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table class="table is-bordered is-fullwidth my-2">
                            <tr>
                                <th colspan="2">Имя</th>
                                <th colspan="2">Телефон</th>
                            </tr>
                            <tr>
                                <td colspan="2">{{ order.name }}</td>
                                <td colspan="2">{{ order.phone }}</td>
                            </tr>
                            <tr v-show="order.delivery">
                                <th>Улица</th>
                                <th>Подьезд</th>
                                <th>Этаж</th>
                                <th>Квартира</th>
                            </tr>
                            <tr v-show="order.delivery">
                                <td>{{ order.street }}, {{ order.house }}</td>
                                <td>{{ order.entrance }}</td>
                                <td>{{ order.floor }}</td>
                                <td>{{ order.flat }}</td>
                            </tr>
                            <tr v-show="!order.delivery">
                                <td colspan="4">
                                    <strong>Самовывоз</strong>
                                </td>
                            </tr>
                            <tr v-show="order.comment">
                                <td colspan="4">{{ order.comment }}</td>
                            </tr>
                            <tr>
                                <td colspan="1" v-show="order.status !== 0 & order.status !== 3">
                                    <button
                                        class="button is-danger"
                                        @click="updateStatus(order.id, 0)">
                                        Отменить
                                    </button>
                                </td>
                                <td :colspan="(order.status === 0) ? 4 : 3"
                                    v-show="order.status !== 2 & order.status !== 3">
                                    <button
                                        class="button is-success"
                                        @click="updateStatus(order.id, 2)">
                                        Принять
                                    </button>
                                </td>
                                <td colspan="3" v-show="order.status === 2">
                                    <button
                                        class="button is-success"
                                        @click="updateStatus(order.id, 3)">
                                        Завершить
                                    </button>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            statusList: [
                {
                    id: 1,
                    name: 'Новые'
                },
                {
                    id: 2,
                    name: 'В процессе'
                },
                {
                    id: 3,
                    name: 'Выполненые'
                },
                {
                    id: 0,
                    name: 'Отмененные'
                }
            ],
            showModal: false,
            showConfirm: false,
            deleteId: 0,
            activeStatus: 1,
            options: [],
            modal: {
                title: '',
                button: ''
            },
            model: {
                name: '',
                categoryId: ''
            }
        }
    },
    computed: {

        filteredOrders() {
            return this.orders.filter(o => o.status === this.activeStatus);
        },
        products() {
            return this.$store.getters.products;
        },
        orders() {
            return this.$store.getters.orders;
        }
    },
    methods: {

        getProduct(item) {
            let product = this.$store.getters.products.find(product => {
                if (product.options.find(option => option.id === item.size.id)) return product;
            });
            let size = product.options.find(option => option.id === item.size.id);
            let additionals = [];
            product.options.filter(option => {
                if (option.data.type !== 1 && item['additionals'].find(additional => additional.id === option.id)) additionals.push({
                    name: option.data.name,
                    price: option.price
                })
            });
            let price = 0;
            price += size.price;
            additionals.forEach(additional => price += additional.price);
            return {
                name: product.name,
                category: product.category.name,
                size: size.data.name,
                additionals,
                price
            }
        },

        amount(list) {
            let total = 0;
            list.forEach((item) => {
                let product = this.getProduct(item);
                total += product.price * item['qty'];
            });
            return total;
        },

        toggleModal() {
            this.showModal = !this.showModal;
        },
        toggleConfirm(id = 0) {
            this.deleteId = id;
            this.showConfirm = !this.showConfirm;
        },
        selectStatus(id = null) {
            this.activeStatus = id;
        },
        getCategoryName(id) {
            let category = this.categories.find(c => c.id === id)
            return category.name
        },

        updateStatus(id, status) {
            this.$axios.$put(`/orders/status/${id}`, {
                status
            }).then((response) => {
                this.$store.dispatch('fetchOrders')
            })
        },
    }
}
</script>

<style scoped>
.button {
    width: 100%;
    margin: 5px 0;
}
</style>
