<template>
    <div class="container">
        <h1 class="title is-2">
            Страницы
            <button class="button is-pulled-right is-link" @click="addPage">Добавить</button>
        </h1>
        <div class="table-container">
            <table class="table is-hoverable is-striped is-fullwidth">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>URL</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="page of pages">
                    <td>{{ page.name }}</td>
                    <td>{{ page.url }}</td>
                    <td>
                        <div class="buttons  is-pulled-right">
                            <button class="button is-small" @click="editPage(page)">
                                Редактировать
                            </button>
                            <button class="button is-small is-danger" @click="toggleConfirm(page.id)">Удалить
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal" :class="{ 'is-active' : showModal }">
            <div class="modal-background" @click="toggleModal"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{ modal.title }}</p>
                    <button class="delete" aria-label="close" @click="toggleModal"></button>
                </header>
                <form>
                    <section class="modal-card-body">
                        <div class="tabs is-boxed">
                            <ul>
                                <li v-for="tab of tabs.list" :class=" { 'is-active' : tab.id === tabs.activeId }">
                                    <a @click="selectTab(tab.id)">{{ tab.name }}</a>
                                </li>
                            </ul>
                        </div>
                        <template v-if="tabs.activeId === 'main'">
                            <div class="field">
                                <label class="label">Название</label>
                                <div class="control">
                                    <input class="input" type="text" v-model="model.name" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">URL</label>
                                <div class="control">
                                    <input class="input" type="text" v-model="model.url" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Контент</label>
                                <div class="control">
                                    <textarea class="textarea" v-model="model.content" required></textarea>
                                </div>
                            </div>
                        </template>
                        <template v-else-if="tabs.activeId === 'seo'">
                            <div class="field">
                                <label class="label">Title</label>
                                <div class="control">
                                    <input class="input" type="text" v-model="model.title">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Description</label>
                                <div class="control">
                                    <input class="input" type="text" v-model="model.description">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Keywords</label>
                                <div class="control">
                                    <input class="input" type="text" v-model="model.keywords">
                                </div>
                            </div>
                        </template>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-success" @click="updatePage" v-if="this.model.id">
                            {{ modal.button }}
                        </button>
                        <button class="button is-success" @click="createPage" v-else>{{ modal.button }}</button>
                        <button class="button" @click="toggleModal">Отменить</button>
                    </footer>
                </form>
            </div>
        </div>
        <div class="modal" :class="{ 'is-active' : showConfirm }">
            <div class="modal-background" @click="toggleConfirm()"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Удалить страницу?</p>
                    <button class="delete" aria-label="close" @click="toggleConfirm"></button>
                </header>
                <footer class="modal-card-foot">
                    <div class="buttons">
                        <button class="button is-danger" @click="deletePage">Удалить</button>
                        <button class="button" @click="toggleConfirm">Отменить</button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            tabs: {
                activeId: 'main',
                list: [
                    {
                        id: 'main',
                        name: 'Основное',
                    },
                    {
                        id: 'seo',
                        name: 'SEO',
                    }
                ]
            },
            pages: [],
            showModal: false,
            showConfirm: false,
            deleteId: 0,
            activeCategory: '',
            modal: {
                title: '',
                button: ''
            },

            model: {}
        }
    },
    async fetch() {
        this.pages = await this.$axios.$get('/pages');
    },
    methods: {
        selectTab(id) {
            this.tabs.activeId = id;
        },
        toggleModal() {
            this.showModal = !this.showModal;
        },
        toggleConfirm(id = 0) {
            this.deleteId = id;
            this.showConfirm = !this.showConfirm;
        },
        editPage(page) {
            this.toggleModal();
            this.modal.title = 'Редактирование страницы';
            this.modal.button = 'Сохранить изменения';
            this.model = page;
        },
        addPage() {
            this.toggleModal();
            this.modal.title = 'Добавление страницы';
            this.modal.button = 'Добавить';
            this.model = {}
        },
        createPage() {
            this.$axios.$post('/pages/create', this.model).then(() => {
                this.$fetch();
                this.toggleModal();
            })
        },
        updatePage() {
            this.$axios.$put(`/pages/update/${this.model.id}`, this.model).then(() => {
                this.$fetch();
                this.toggleModal();
            })
        },
        deletePage() {
            this.$axios.$delete(`/pages/delete/${this.deleteId}`).then(response => {
                this.$fetch();
                this.toggleConfirm();
            })
        }
    }
}
</script>
