<template>
    <div class="columns">
        <div class="column is-4 is-offset-one-quarter">
            <div class="field is-justify-content-center">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Text input">
                </div>
                <button class="button is-success">
                    <span class="icon is-small">
                      <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</template>
